head {link rel="preconnect" href="https://fonts.googleapis.com"> link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet" }

h1 {font-size: 72px;
width: 600px;
color: #7E887A;
font-family: 'Russo One';
}

body{
  background-color: ;
}

.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.blake {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.dylan {
  height: 50px;
  width: 50px;
  margin-left: 110px;
}
.freddie {
  height: 50px;
  width: 50px;
  margin-left: 115px;
}
.rach {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.amy {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.kobe {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.mj {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}
.bey {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}

